/*----------------------------------------------TODOS--------------------------------------------------*/
::selection {
    color:#353535;
    background-color: #e8ff16;
}










/*--------------------------------------------CADASTRO------------------------------------------------*/
#cadastro-container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    margin: 0 auto; 
}
#cadastro-secao__slogan{
    font-weight: 700;
    color: #212529;
    font-size: 20px;
    text-align: center;
}
#cadastro-secao__slogan2{
    color:#FF2253; 
    font-size: 15px
}
#cadastro-secao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
	top:30%;
}
#cadastro-secao__titulo{
    text-align: center;
}
#cadastro-secao__formulario{
    margin-top: 10px;
}
#cadastro-formulario__nome, #cadastro-formulario__email, #cadastro-formulario__senha, #cadastro-formulario__botao--cadastrar{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 30px;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
#cadastro-formulario__nome, #cadastro-formulario__email, #cadastro-formulario__senha{
   color: #FF2253;
}
#cadastro-formulario__botao--cadastrar{
    font-weight: 600;
}
#cadastro-formulario__botao--cadastrar, #ir-login__botao{
    cursor: pointer;
}
#ir-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
#ir-login__paragrafo{}
#ir-login__botao{
    font-family: 'Poppins', sans-serif;
    border: none;
    background: none;
    text-decoration:underline;
    color: blue;
}










/*--------------------------------------------LOGIN------------------------------------------------*/
#login-container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    margin: 0 auto; 
}
#login-secao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
	top:30%;
}
#login-secao__slogan{
    font-weight: 700;
    color: #212529;
    font-size: 20px;
    text-align: center;
}
#login-secao__slogan2{
    color:#FF2253; 
    font-size: 15px
}
#login-secao__titulo{
    text-align: center;
}
#login-formulario{
    margin-top: 10px;
}
#login-formulario__email, #login-formulario__senha, #login-formulario__botao--login{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 30px;
    border: none;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
#login-formulario__email, #login-formulario__senha{
    color: #FF2253;
}
#login-formulario__botao--login{
    font-weight: 600;
}
#login-formulario__botao--login, #ir-cadastro__botao{
    cursor: pointer;
}
#ir-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
#ir-login__paragrafo{}
#ir-cadastro__botao{
    font-family: 'Poppins', sans-serif;
    border: none;
    background: none;
    text-decoration:underline;
    color: blue;
}










/*--------------------------------------------VITRINE------------------------------------------------*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    height: 10vh;
}
.hearder-slogan{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 21.6949px;
    line-height: 33px;
    margin-left: 20px;
   
}
.hearder-slogan2{
    color:#FF2253;
    font-size: 15px;
    margin-left: 7px;

}
.vitrine-formulario{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
    background: #E9ECEF;
    border: 1.5px solid #E9ECEF;
    border-radius: 12px;
    height: 49px;
    width: fit-content;

}
.formulario-container{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}
.vitrine-formulario-img{
    width: 20px;
    height: 20px;
    background: #E9ECEF;
}
#vitrine-formulario-botao{
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #E9ECEF;
}
.vitrine-formulario--input{
    background: none;
    border:none;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 18px 15px 16px;
    color: #FF2253;
}
.vitrine-formulario--input:focus{
    outline-style: solid;
    outline-color: #E9ECEF;
}
.vitrine-formulario--input:hover::placeholder{
    padding-left: 5px;
    transition: 0.4s;
}
.vitrine-formulario--input:focus::placeholder{
    opacity: 0;
    transition-delay: 0.2s;
}
#vitrine-formulario-logout{
    border: none;
    background: none;
}
#vitrine-formulario-logout img{
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 1vh;
}
#vitrine-container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #212529;
    margin: 0 auto;
    background-color: #ffffff;
}
.navbar{
    display: flex;
    margin-left: 1.7vw;
    margin-right: 1.7vw;
    margin-bottom: 20px;
    margin-top: 60px; 
    overflow: auto;
}
.navbar-lista{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    width: 170px;
    height: 48px;
}
.navbar-lista__categoria{
    width: 800px;
    padding: 15px, 20px, 15px, 20px;
    font-size: 16px;
    border-radius: 32px;
    font-weight: 400;
    align-items: center;
}
.navbar-lista__categoria--todos, .navbar-lista__categoria--panificadora, .navbar-lista__categoria--frutas, .navbar-lista__categoria--bebidas{
    text-decoration: none;
    color: #212529;
    padding: 10px;
}
.navbar-lista__categoria--todos{
    background: #FF2253;
    border: 1.5px solid #FF2253;
    border-radius: 32px;
    height: 1000px;
}
.navbar-lista__categoria--panificadora{
    background: #FFF7F4;
    border: 1.5px solid #FFF7F4;
    border-radius: 32px;
}
.navbar-lista__categoria--frutas{
    background: #FFF1F4;
    border: 1.5px solid #FFF1F4;
    border-radius: 32px;
}
.navbar-lista__categoria--bebidas{
    background: #F3EEF5;
    border: 1.5px solid #F3EEF5;
    border-radius: 32px;
}
#div-produtos-carrinho{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
#secao-produtos{
    display: flex;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
}
#lista-produtos{
    display: flex;
    gap: 16px;

}
.lista-produtos--itens{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.imagem-produto{
    width: 300px;
    height: 200px;
    border-radius: 8px;
}
.nome-produto{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    width: 266px;
    height: 27px;
}
.descricao-produto{
    max-width: 280px;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.div-categorias{
    display: flex;
}
.categoria-produto{
    font-weight: 400;
    font-size: 12px;
    color: #868E96;
    margin-right: 20px;
}
.div-preco-botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preco-produto{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #212529;
}
#botao-adicionar-carrinho{
    background: #E4F7EF;
    border: none;
    border-radius: 80%;
    width: 38px;
    height: 38px;
}
#botao-adicionar-carrinho img{
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: #0CA678;
    cursor: pointer;
}
#carrinho-container{
    width: fit-content;
}
.carrinho__titulo{
    background-color: #FF2253;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align:start;
    width: 100vw;
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
}
.carrinho__titulo img {
    margin-right: 20px;
    margin-left: 20px;
}
.carrinho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F8F9FA;
    border-radius: 0px 0px 12px 12px;
    height: 400px;
    width: 100vw;
}
.carrinho__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 5px;
}
.carrinho__lista::-webkit-scrollbar{
    width: 1em;
}
.carrinho__lista::-webkit-scrollbar-track{
    background-color: #efdadf;
    box-shadow: inset 0.05em 0 0 #838383;
}
.carrinho__lista::-webkit-scrollbar-thumb{
    background: #FF2253;
    border-radius: 0.5em;
}
.carrinho__lista--icone{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
.carrinho__lista--span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #868E96;
    text-align: center;
    padding: 10px;
}
.carrinho__lista--itens{
    display: flex;
    margin-bottom: 10px;
}
.carrinho__lista-img{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-left: 5px;
}
.div-carrinho{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: 10px;
}
.carrinho__lista-nome-produto{
    width: 145px;
    height: 20px;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}
.carrinho__lista-categoria-produto{
    width: 79px;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    color: #868E96;
    margin-top: 5px;
}
.carrinho__lista-preco{
    width: 91px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #212529;
}
#botao-remover-produto{
    width: 25px;
    height: 25px;
    background: #e8e8e8;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.botao-remover-produto img{
    width: 9px;
    height: 12px;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    color: #868E96;
}
.carrinho-total{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
.carrinho-total-quantidade, .carrinho-total-preco{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    font-size: 14px;
}








/*--------------------------------------------DASHBOARD------------------------------------------------*/
.header{
    display: flex;
    /*flex-direction: column;*/
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    height: 10vh;
}

.hearder-slogan2{
    color:#FF2253;
    font-size: 15px;
}
.dashboard-formulario{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
    background: #E9ECEF;
    border: 1.5px solid #E9ECEF;
    border-radius: 12px;
    height: 49px;
    width: 85vw;
    margin-left: 7.5vw;
}
.dashboard-formulario-img{
    width: 20px;
    height: 20px;
    background: #E9ECEF;
}
#dashboard-formulario-botao{
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #E9ECEF;
}
.dashboard-formulario--input{
    background: none;
    border:none;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 18px 15px 16px;
    color: #FF2253;
}
.dashboard-formulario--input:focus{
    outline-style: solid;
    outline-color: #E9ECEF;
}
.dashboard-formulario--input:hover::placeholder{
    padding-left: 5px;
    transition: 0.4s;
}
.dashboard-formulario--input:focus::placeholder{
    opacity: 0;
    transition-delay: 0.2s;
}
#dashboard-formulario-logout{
    border: none;
    background: none;
}
#dashboard-formulario-logout img{
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 1vh;
}
#dashboard-container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #212529;
    margin: 0 auto;
    background-color: #ffffff;
}
.dashboard-navbar{
    display: flex;
    margin-left: 1.7vw;
    margin-right: 1.7vw;
    margin-bottom: 20px;
    margin-top: 60px; 
    overflow: auto;
}
.dashboard-navbar-lista{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    width: 170px;
    height: 48px;
}
#dashboard-botao-adicionar-produto{
    font-family: 'Poppins', sans-serif;
    padding: 0 25px;
    font-size: 10px;
    width: 217px;
    height: 47px;
    background: #FF2253;
    border: 1.5px solid #FF2253;
    border-radius: 32px;
    cursor: pointer;
    color: #F8F9FA;
    margin-left: 100vw;
    margin-top: 15px;
    text-align: center;
    line-height: 1.2;
}
#dashboard-main{
    display: flex;
}
.div-dashboard-cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    margin-left: 10px;
}
.dashboard-cabecalho{
    width: 55px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #868E96;
    text-align: center;
}
#dashboard-secao-lista{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}
#dashboard-lista{
    display: flex;
}
.dashboard-lista__itens{
    display: flex;
    flex-direction: column;
    height: 480px;
    justify-content: space-evenly;
    gap: 10px;
    margin-left: 40px;
    align-items: center;
}
.div-imagem-nome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-imagem-produto{
    width: 32px;
    height: 32px;
    border-radius: 150px;
}
.dashboard-nome-produto{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: #212529;
}
.div-dashboard-categorias{
    display: flex;
    flex-direction: column;
}
.dashboard-categoria-produto{
    background: #F8F9FA;
    border-radius: 8px;
    font-weight: 400;
    line-height: 21px;
    color: #868E96;
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
}
.dashboard-descricao-produto{
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: #868E96;
    width: 200px;
}
.div-botoes-editar-deletar{
    display: flex;
    flex-direction: column;
}
.dashboard-editar, .dashboard-deletar{
    width: 28px;
    height: 28px;
    background: #F8F9FA;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.dashboard-editar img, .dashboard-deletar img{
    padding: 1px;
}












/*--------------------------------------------MEDIA QUERY-----------------------------------------*/
@media (min-width: 426px) {
    .main{
        width:95vw;
        margin:0 auto;
        max-width: 420px;
    }
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        height: 72px;
        box-shadow: 0 0 1em rgb(240, 239, 239);
    }
    .hearder-slogan{
        margin-left: 20px;
    }
    /* .vitrine-formulario{
        width: 312px;
        margin-left: 850px;
    } */
    .vitrine-formulario-img{
        width: 20px;
    }
    #vitrine-formulario-botao{
        padding: 10px;
    }
  
    .navbar{
        margin-left: 90px;
        margin-top: 10px; 
        overflow: none;
    }
    #div-produtos-carrinho{
        flex-direction: row;
    }
    #lista-produtos{
        flex-wrap: wrap;
    }
    .carrinho__titulo{
        width: 280px;
        margin-top: 2px;
        border-radius: 12px 12px 0px 0px;
    }
    .carrinho{
        width: 280px;
    }
    #secao-produtos{
        overflow: none;
    }
    #dashboard-botao-adicionar-produto{
        margin-top: 15px;
        margin-left: 1000px;
        font-size: 13px;
    }
    .dashboard-formulario{
        width: 312px;
    }
    #dashboard-formulario-logout img{
        margin-right: 100px;   
    }
    .dashboard-formulario{
        width: 312px;
        margin-left: 850px;
    }
    .dashboard-navbar{
        margin-left: 90px;
        margin-top: 10px; 
        overflow: hidden;
    }
    #dashboard-main{
        display: flex;
        flex-direction: column;
    }
    .div-dashboard-cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 1200px;
        height: 50px;
        margin-left: 250px;
    }
    #dashboard-secao-lista{
        display: flex;
        flex-direction: row;
    }
    #dashboard-lista{
        display: flex;
        flex-direction: column;
        width: 900px;
        margin-left: 150px;
    }
    .dashboard-lista__itens{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 1300px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #E9ECEF;
        border-radius: 12px;
        border: 1px rgb(235, 235, 235) solid;
        margin-bottom: 10px;
        padding: 10px;
    }
    .div-imagem-nome{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .div-dashboard-categorias{
        display: flex;
        flex-direction: row; 
        gap: 20px;  
    }
    .dashboard-categoria-produto{
        padding: 0 10px;
    }
    .dashboard-descricao-produto{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .div-botoes-editar-deletar{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .div-botoes-editar-deletar img{
        width: 10px;
    }
}